<div class="custom-modal">
  <div class="header">
    <h1 mat-dialog-title>
      Novo Produto
    </h1>
    <mat-icon mat-dialog-close>close</mat-icon>
  </div>
  <mat-divider></mat-divider>

  <div mat-dialog-content class="content">
    <form [formGroup]="productForm">
      <mat-form-field>
        <input matInput placeholder="Nome" required formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Preço (R$)" required formControlName="price">
      </mat-form-field>
    </form>
  </div>
  <div class="modal-actions" mat-dialog-actions align="end">
    <button mat-raised-button (click)="saveProduct()" color="primary">
      Salvar
    </button>
    <button mat-raised-button (click)="cancel()">
      Cancelar
    </button>
  </div>

</div>