<mat-card-title>Novo Produto</mat-card-title>

<div mat-dialog-content *ngIf="!isLoading">
  <form [formGroup]="productForm">
    <mat-form-field>
      <input matInput placeholder="Nome" required formControlName="name">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Preço (R$)" required formControlName="price">
    </mat-form-field>
  </form>
  
  <button mat-raised-button (click)="saveProduct()" color="primary">
    Salvar
  </button>
  
  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</div>
