.sidenav{
    background-color: #3f51b5;
    width: 200px;
    z-index: 999;
}

.sidenav a{
    color: #fff;
}

.sidenav i{
    padding-right: 10px;
}

.content{
    height: 80vh;
    overflow-y:auto;
    padding: 16px;
}