/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #fafafa;
}

:root {
    --primary: #1266F1;
    --danger: #F93154;
    --success: #00B74A;
    --warning: #FFA900;
    --light: #FBFBFB;
    --dark: #262626;
  }

.red{
    color: #FF2C59;
}

.v-middle{
    vertical-align: middle;
}

/* ------- SNACKBARS ------- */
.default-snackbar{
    background: var(--primary);
}
.default-snackbar .mat-simple-snackbar-action {
    color: #fff !important;
  }
  
  .danger-snackbar{
    background: var(--danger);
  }
  .danger-snackbar .mat-simple-snackbar-action {
    color: #fff !important;
  }
  
  .success-snackbar{
    background: var(--success);
  }
  .success-snackbar .mat-simple-snackbar-action {
    color: #fff !important;
  }
  
  .warning-snackbar{
    background: var(--warning);
  }
  .warning-snackbar .mat-simple-snackbar-action {
    color: #000 !important;
  }